*,
*::before,
*::after {
  outline: none;
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: #1b1919;
  font-family: "Fira Sans Condensed", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #fff;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* overlap `.content__list-item::after` elements */

.preloader {
  z-index: 1;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  padding: 5px;
  border: 1px solid currentColor;
  background: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  color: inherit;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.content {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.content__list-wrapper {
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px;
  max-block-size: 304px;
  max-inline-size: 404px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__list-item {
  margin-block-end: 26px;
}

.content__list-item:last-child {
  margin-block-end: 0;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link_current .content__video-card,
.content__card-link:active .content__video-card {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: -1px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding: 4px 2px;
}

.content__video-card-title {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 120%;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 90%;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__accent {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  color: #545050;
  line-height: 94%;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  min-block-size: 538px;
  gap: 10px;
  padding-block-end: 2px;
}

.result__video-container {
  position: relative;
}

.result__video {
  inline-size: 711px;
  block-size: 386px;
  object-fit: cover;
}

.search-form {
  display: grid;
  grid-template-columns: 32% auto 27%;
  align-items: start;
  justify-items: stretch;
  gap: 36px;
}

.search-form__submit-button {
  align-self: end;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  padding-block-end: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-inline: 1px;
}

.search-form__label:focus-within {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__label:focus-within:has(input) {
  outline: none; /* hide focus-within in Chrome */
}

.search-form__fieldset .search-form__label:has(:focus-visible) {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__label:has(.search-form__textfield:active):has(
    .search-form__textfield:focus
  ),
.search-form__label:has(.search-form__textfield:active):has(
    .search-form__textfield:focus-visible
  ) {
  outline: none;
}

.search-form__label:hover:has(.search-form__textfield) {
  text-decoration: none;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__label-text {
  font-size: 18px;
  font-weight: 400;
  padding-inline-start: 5px;
}

.search-form__textfield {
  outline: none;
  background: none;
  font-family: inherit;
  font-size: 18px;
  color: inherit;
  padding-inline-start: 0;
  appearance: none;
  border-block-end: 1px solid currentColor;
  border-block-start: 1px solid currentColor;
  border-inline-end: none;
  border-inline-start: none;
  inline-size: 100%;
}

.search-form__textfield:active {
  border-inline-start: 1px solid currentColor;
  border-inline-end: 1px solid currentColor;
}

.search-form__textfield:active:focus {
  outline: none;
}

.search-form__label:focus-within .search-form__textfield {
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 13px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  border: 1px solid currentColor;
  inline-size: 19px;
  block-size: 19px;
  margin-inline-end: 1px;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox {
  background-color: currentColor;
}

.search-form__pseudo-checkbox:active,
.search-form__label:active .search-form__pseudo-checkbox,
.search-form__checkbox:active ~ .search-form__pseudo-checkbox {
  border: 1px solid currentColor;
  outline: 1px solid #000;
  outline-offset: -2px;
  background-color: currentColor;
}

.title {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  padding-block-start: 3px;
  line-height: 94%;
}

.more-button {
  inline-size: 100%;
  margin-block-start: 3px;
}
